* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
  }
  
  .webgl {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  nav {
    color: white;
    z-index: 2;
    position: relative;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  
  nav ul li {
    font-weight: bold;
  }
  
  .title {
    color: white;
    z-index: 2;
    position: absolute;
    font-size: 3rem;
    line-height: 3.5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    user-select: none;
  }
  
  @media screen and (max-width: 600px) {
    .title {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }
  
  /* Disable text selection for all elements */
  * {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  